{% macro display(pitchdb) %}
<div class="container-fluid">
		<div class="row">
				{% if pitchdb %}
					{% for category in pitchdb %}
					<div class="col-md-4" >
						<div class="thumbnail" id="carded">
							<h5 class="card-header" style="background-color:rgb(226, 159, 171)">{{category.title}}</h5>
							<div class="card-body">
									<p>{{category.post}}</p>
									<p class="text-center"> Category: {{category.category}}</p>
									<footer class="blockquote-footer text-center" > Posted by: {{category.user.username}}</footer>
								<div><span class="foot" >{{category.comment.count()}} Comments</span> 
									<span class="foot" > <a href="{{url_for('main.like',id = category.id)}}"><i class="fa fa-thumbs-up" id ="thumb"></i></a> {{category.upvote.count()}}</span>
									&nbsp;
									
									<span class="foot"><i class="fa fa-thumbs-down" id="thumb"></i></span></div>
			
								<a href="{{url_for('main.comment',pitch_id = category.id)}}" class="btn btn-sm", id="commentbtn"> Comment</a>
							</div>
						</div>
					</div>
					
					{% endfor %}
				{% else %}
				
				
						<p id="count">Category Has 0 posts</p>
				</div>
				{% endif %}
			</div>
{% endmacro %}